<div class="container">
  <h1><%= t('task.title.index') %></h1>
  <%= link_to t('task.link.deadline'), tasks_path(sort_expired: "true") %>
  <%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
    <p>
      <%= form.label :label_ids, t('task.column.label') %>
      <%= form.select :label_ids, Label.all.collect { |l| [ l.title, l.id ] }, include_blank: true %>
      <%= form.label :name, t('task.column.name') %>
      <%= form.text_field :name %>
      <%= form.label :status, t('task.column.status') %>
      <%= form.select :status, [
                                ["--", nil],
                                [t('task.status.not_started'), t('task.status.not_started')],
                                [t('task.status.in_progress'), t('task.status.in_progress')],
                                [t('task.status.completed'), t('task.status.completed')]
                                ] %>
      <%= form.label :priority, t('task.column.priority') %>
      <%= form.check_box :priority %>
      <%= form.submit t('task.search') %>
    </p>
  <% end %>
  <table class="container table table-bordered table-hover">
    <tr>
      <th class="col-md-1"><%= t('task.column.label') %></th>
      <th class="col-md-2"><%= t('task.column.name') %></th>
      <th class="col-md-1"><%= t('task.column.status') %></th>
      <th class="col-md-1"><%= t('task.column.priority') %></th>
      <th class="col-md-2"><%= t('task.column.deadline') %></th>
      <th class="col-md-5"><%= t('task.column.content') %></th>
      <th colspan="3"><%= t('task.link.table') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% task.labels.each do |label| %>
            <div class="border">
            <p class="<%= label_color(label.color)%> <%=label_shape(label.shape, label.color)%> label_shape">
              <%= label.title %>
            </p>
            </div>
          <% end %>
        </td>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= l task.deadline, format: :long %></td>
        <td><%= task.content %></td>
        <td><%= link_to t('task.link.show'), task_path(task.id) %></td>
        <td><%= link_to t('task.link.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('task.link.destroy'), task_path(task.id), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @tasks %><br>
  <%= link_to t('task.link.new'), new_task_path %>
</div>
