<h1><%= t('task.title.index') %></h1>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
  <p>
    <%= t('task.column.name') %>
    <%= form.text_field :name %>
    <%= t('task.column.status') %>
    <%= form.select :status, [
                              ["--", nil],
                              [t('task.status.not_started'), t('task.status.not_started')],
                              [t('task.status.in_progress'), t('task.status.in_progress')],
                              [t('task.status.completed'), t('task.status.completed')]
                              ] %>
    <%= form.submit t('task.search') %>
  </p>

<% end %>
<table>
  <tr>
    <th><%= t('task.column.name') %></th>
    <th><%= t('task.column.content') %></th>
    <th><%= t('task.column.deadline') %></th>
    <th><%= t('task.column.status') %></th>
    <th><%= t('task.column.priority') %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to t('task.link.show'), task_path(task.id) %></td>
      <td><%= link_to t('task.link.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('task.link.destroy'), task_path(task.id), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %></td>
    </tr>
  <% end %>
</table>
<%= link_to t('task.link.new'), new_task_path %>
