<div class="container">
  <h1><%= t('task.title.index') %></h1>
  <%= link_to t('task.link.deadline'), tasks_path(sort_expired: "true") %>
  <%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
    <p>
      <%= form.label :label_ids, t('task.column.label') %>
      <%= form.select :label_ids, current_user.labels.collect { |l| [ l.title, l.id ] }, include_blank: true %>
      <%= form.label :name, t('task.column.name') %>
      <%= form.text_field :name %>
      <%= form.label :status, t('task.column.status') %>
      <%= form.select :status, [
                                ["--", nil],
                                [t('task.status.not_started'), t('task.status.not_started')],
                                [t('task.status.in_progress'), t('task.status.in_progress')],
                                [t('task.status.completed'), t('task.status.completed')]
                                ] %>
      <%= form.label :priority, t('task.column.priority') %>
      <%= form.check_box :priority %>
      <%= form.submit t('task.search') %>
    </p>
  <% end %>
  <%= render "table" %>
  <%= paginate @tasks %><br>
  <%= link_to t('task.link.new'), new_task_path %>
</div>
