<div class="container">
  <h1><%= t('task.title.show') %></h1>
  <div class="task_name">
    <%= t('task.column.name') %>： <%= @task.name %>
  </div>
  <div class="task_status">
    <%= t('task.column.status') %>： <%= @task.status %>
  </div>
  <div class="priority">
    <%= t('task.column.priority') %>： <%= @task.priority %>
  </div>
  <div class="deadline">
    <%= t('task.column.deadline') %>： <%= @task.deadline %>
  </div>
  <div class="task_content">
    <%= t('task.column.content') %>： <%= @task.content %>
  </div>
  <%= link_to t('task.link.edit'), edit_task_path(@task.id) %> | <%= link_to t('task.link.index'), tasks_path %> 
</div>
